Django
djangorestframework
django-cors-headers
python-dotenv
mozilla-django-oidc
djangorestframework-api-key
drf-yasg
Pillow
psycopg2-binary
python-dateutil
requests
gunicorn
celery
redis
jpype1
django-filter
beautifulsoup4
PyJWT
lxml
twilio
num2words